body {
    text-align: center;
    background-color: lavenderblush;
    }

.author_data_label {
    font-size: 50px;
	font-family: Optima ,sans-serif;
    }
	
input[type='text'] {
	font-size: 25px;
	font-family: Optima ,sans-serif;
	#background: #FFFFFF;
	#border-radius: 15px
}

input[type='date'] {
	font-size: 25px;
	font-family: Optima ,sans-serif;
	#background: #FFFFFF;
	#border-radius: 15px
}

input[type='submit'] {
	font-size: 25px;
	font-family: Optima ,sans-serif;
	background: #FFFFFF;
	border-radius: 15px
}

.author_data { font-size: 25px;
font-family: Optima ,sans-serif;}

.author_country { font-size: 25px;
font-family: Optima ,sans-serif;
background: #FFFFFF;}